n8n-workflows/smart-meeting-scheduler-zoho.json
{
  "name": "Smart Meeting Scheduler - EXAMPLE ON ZOHO",
  "nodes": [
    {
      "parameters": {
        "resource": "lead",
        "operation": "get"
      },
      "id": "c03bbacb-d281-4927-a503-2090db06243b",
      "name": "New Lead Trigger",
      "type": "n8n-nodes-base.zohoCrm",
      "position": [
        896,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "meetingDuration",
              "type": "number",
              "value": 30
            },
            {
              "id": "id-2",
              "name": "bufferTimeBefore",
              "type": "number",
              "value": 15
            },
            {
              "id": "id-3",
              "name": "bufferTimeAfter",
              "type": "number",
              "value": 15
            },
            {
              "id": "id-4",
              "name": "daysToLookAhead",
              "type": "number",
              "value": 7
            },
            {
              "id": "id-5",
              "name": "workingHoursStart",
              "type": "string",
              "value": "09:00"
            },
            {
              "id": "id-6",
              "name": "workingHoursEnd",
              "type": "string",
              "value": "17:00"
            },
            {
              "id": "id-7",
              "name": "meetingLinkService",
              "type": "string",
              "value": "zoom"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2d182eb1-9445-40aa-b87f-0102902397ba",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        1040
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "get"
      },
      "id": "8a9bd518-bd11-4640-8dde-8ed97c87931b",
      "name": "Get Sales Rep Details",
      "type": "n8n-nodes-base.zohoCrm",
      "position": [
        1568,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const leadData = $input.first().json;\nconst phone = leadData.Phone || '';\nconst country = leadData.Country || '';\nconst state = leadData.State || '';\n\nlet timezone = 'America/New_York';\n\nif (country === 'United States' || country === 'USA') {\n  const stateTimezones = {\n    'California': 'America/Los_Angeles',\n    'New York': 'America/New_York',\n    'Texas': 'America/Chicago',\n    'Florida': 'America/New_York',\n    'Illinois': 'America/Chicago',\n    'Arizona': 'America/Phoenix'\n  };\n  timezone = stateTimezones[state] || 'America/New_York';\n} else if (country === 'United Kingdom' || country === 'UK') {\n  timezone = 'Europe/London';\n} else if (country === 'Germany') {\n  timezone = 'Europe/Berlin';\n} else if (country === 'Australia') {\n  timezone = 'Australia/Sydney';\n}\n\nreturn {\n  json: {\n    ...leadData,\n    detectedTimezone: timezone\n  }\n};"
      },
      "id": "4df2f706-d4f1-4b73-8856-32bf3db44260",
      "name": "Detect Lead Timezone",
      "type": "n8n-nodes-base.code",
      "position": [
        1744,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "id": "51a997bf-3e41-41e4-a8f0-4e8ce7a1f9ec",
      "name": "Get Rep Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1920,
        1040
      ],
      "typeVersion": 1.3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const config = $('Workflow Configuration').first().json;\nconst events = $input.all().map(item => item.json);\nconst meetingDuration = config.meetingDuration;\nconst bufferBefore = config.bufferTimeBefore;\nconst bufferAfter = config.bufferTimeAfter;\nconst workStart = config.workingHoursStart;\nconst workEnd = config.workingHoursEnd;\nconst daysAhead = config.daysToLookAhead;\nconst timezone = $('Detect Lead Timezone').first().json.detectedTimezone;\n\nconst availableSlots = [];\nconst now = new Date();\n\nfor (let day = 0; day < daysAhead; day++) {\n  const currentDay = new Date(now);\n  currentDay.setDate(now.getDate() + day);\n  const dayStart = new Date(currentDay.toDateString() + ' ' + workStart);\n  const dayEnd = new Date(currentDay.toDateString() + ' ' + workEnd);\n  \n  let currentTime = dayStart;\n  \n  while (currentTime < dayEnd) {\n    const slotEnd = new Date(currentTime.getTime() + meetingDuration * 60000);\n    if (slotEnd > dayEnd) break;\n    \n    const slotStartWithBuffer = new Date(currentTime.getTime() - bufferBefore * 60000);\n    const slotEndWithBuffer = new Date(slotEnd.getTime() + bufferAfter * 60000);\n    \n    const hasConflict = events.some(event => {\n      const eventStart = new Date(event.start.dateTime || event.start.date);\n      const eventEnd = new Date(event.end.dateTime || event.end.date);\n      return (slotStartWithBuffer < eventEnd && slotEndWithBuffer > eventStart);\n    });\n    \n    if (!hasConflict && currentTime > now) {\n      availableSlots.push({\n        startTime: currentTime.toISOString(),\n        endTime: slotEnd.toISOString(),\n        timezone: timezone\n      });\n    }\n    \n    currentTime = new Date(currentTime.getTime() + 30 * 60000);\n  }\n}\n\nreturn {\n  json: {\n    availableSlots: availableSlots.slice(0, 5),\n    hasSlots: availableSlots.length > 0\n  }\n};"
      },
      "id": "1e2b303b-7165-4e45-94fc-30d568e5b991",
      "name": "Find Available Slots with Buffer",
      "type": "n8n-nodes-base.code",
      "position": [
        2144,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.hasSlots }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc189001-a050-4adf-81ab-1faec40f42c4",
      "name": "Check Slots Available",
      "type": "n8n-nodes-base.if",
      "position": [
        2416,
        1040
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zoom.us/oauth/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "account_credentials"
            },
            {
              "name": "account_id",
              "value": "UGR7lYDyTLGGuUUxURMMdw"
            }
          ]
        },
        "options": {}
      },
      "id": "04a234fa-755c-4eb6-8abf-e030840c7614",
      "name": "Generate Meeting Link",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2736,
        736
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead details: {{ JSON.stringify($('Detect Lead Timezone').first().json) }}\nAvailable slots: {{ JSON.stringify($('Find Available Slots with Buffer').first().json.availableSlots) }}\nMeeting link: {{ $json.join_url }}",
        "options": {
          "systemMessage": "You are a professional meeting scheduler assistant.\n\nYour task is to:\n1. Analyze the lead information and available meeting slots\n2. Generate a warm, personalized email invitation\n3. Present the top 3 available time slots in the lead's timezone\n4. Include the meeting link\n5. Keep the tone professional yet friendly\n6. Highlight the value of the meeting\n\nReturn ONLY the email content with subject line and body in HTML format."
        }
      },
      "id": "6e486756-067c-4415-86cb-9300efb9b63e",
      "name": "Generate Personalized Invite",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3584,
        976
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "sendTo": "={{ $('Detect Lead Timezone').item.json.Owner.email }}",
        "subject": "={{ $json.output.split('Subject:')[1].split('\\n')[0].trim() }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "07eaee4a-d09c-4097-ab66-a3a8befd0f8c",
      "name": "Send Meeting Invite",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3920,
        976
      ],
      "webhookId": "79b5f663-9fb9-47a4-951d-2ad93ae1f376",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "lead",
        "Company": "Meeting Event",
        "lastName": "={{ $('Detect Lead Timezone').item.json.Owner.name }}",
        "additionalFields": {
          "Description": "={{ 'Meeting Scheduled with ' + $('Detect Lead Timezone').first().json.Full_Name + ' from ' + $('Find Available Slots with Buffer').first().json.availableSlots[0].startTime + ' to ' + $('Find Available Slots with Buffer').first().json.availableSlots[0].endTime }}"
        }
      },
      "id": "ef00f671-6a50-4598-86dc-f705da2fc1bf",
      "name": "Log Meeting in Zoho CRM",
      "type": "n8n-nodes-base.zohoCrm",
      "position": [
        4160,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subject",
              "type": "string",
              "value": "Unable to Schedule Meeting - Let's Connect"
            },
            {
              "id": "id-2",
              "name": "message",
              "type": "string",
              "value": "=Hi {{ $('Detect Lead Timezone').first().json.Full_Name }},\n\nThank you for your interest! Unfortunately, our sales representative doesn't have any available slots in the next {{ $('Workflow Configuration').first().json.daysToLookAhead }} days.\n\nWe'd still love to connect with you. Please reply to this email with your preferred times, and we'll do our best to accommodate.\n\nBest regards,\nThe Team"
            }
          ]
        },
        "options": {}
      },
      "id": "4c3e55a9-0602-4f01-8a2d-015d9604f8ef",
      "name": "No Slots Available Message",
      "type": "n8n-nodes-base.set",
      "position": [
        2752,
        1216
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "=dg3avt@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "b60039bd-cc64-47a4-85e6-31bd5af4032a",
      "name": "Send No Availability Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3056,
        1216
      ],
      "webhookId": "2b46b1b0-8af1-4a87-ac63-4e8da7b9ec21",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoho-lead-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ab25f37c-2c34-4401-9083-e961b17fec98",
      "name": "Zoho CRM Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        656,
        1040
      ],
      "webhookId": "31cff192-8aeb-49e8-8189-49aefcb859e8",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "270479fa-55a2-4f4b-8a68-96f2245caad4",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3616,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zoom.us/v2/users/me/meetings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "A Scheduled Meeting from n8n"
            },
            {
              "name": "type",
              "value": "2"
            },
            {
              "name": "start_time",
              "value": "={{ $('Check Slots Available').item.json.availableSlots[0].startTime }}"
            },
            {
              "name": "duration",
              "value": "30"
            },
            {
              "name": "timezone",
              "value": "={{ $('Check Slots Available').item.json.availableSlots[0].timezone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6922730-2b4f-4edd-b0b9-d651045bcb85",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3024,
        736
      ],
      "typeVersion": 4.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## How It Works\nThis workflow automatically schedules meetings for new leads. When a lead is created, Zoho triggers a webhook that sends the lead ID to n8n, which then retrieves full lead details, identifies the sales rep, and detects the lead’s timezone. The workflow checks the rep’s Google Calendar availability and generates time slots based on your rules such as working hours, meeting duration, buffer time, and days to search.\n\nIf suitable slots exist, a Zoom meeting is created and Gemini AI generates a personalized email with the top three time options and meeting link, which is then sent to the lead. The workflow also updates Zoho CRM with the meeting details. If no slots are available, a fallback email is sent instead.\n\n## Setup Steps\n\n### 1.Connect Integrations\nAuthenticate Zoho CRM, Google Calendar, Gmail, Zoom, and Gemini in n8n.\n\n### 2.Import Workflow\nGo to n8n → Workflows → Import and paste the provided workflow JSON.\n\n### 3.Update Configuration\nIn the Workflow Configuration node, set meeting duration, buffers, working hours, days to search, and meeting provider.\n\n### 4.Adjust Timezone Logic\nIn the Detect Lead Timezone code node, edit or expand country/state → timezone mappings.\n\n### 5.Verify Google Calendar Access\nEnsure each sales rep has a correct calendar ID in Zoho CRM and events are fetchable.\n\n### 6.Add Zoho Webhook\nCopy the webhook URL from n8n and add it under Zoho CRM → Setup → Automation → Webhooks → Lead Created.\n\n### 7.Run a Test Lead\nCreate a lead and confirm it detects timezone, finds slots, creates a Zoom meeting, emails the lead, and logs in CRM.\n\n### 8.Activate Workflow\nOnce verified, switch the workflow to Active.",
        "height": 1024,
        "width": 656
      },
      "id": "79625794-1303-4b4c-8062-b9cc1f4245d5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Lead Capture & Retrieval (Webhook + SBI CRM Get Lead)\n### Automatically triggers when a new lead is created in SBI CRM. The webhook sends the lead ID to n8n, which then fetches full lead details for processing.",
        "height": 480,
        "width": 448,
        "color": 7
      },
      "id": "97bea1ab-788a-4309-8a40-af968f2b90fa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Configuration\n### Stores all scheduling settings such as meeting duration, buffers, working hours, days to search, and meeting provider for later workflow steps.",
        "height": 480,
        "width": 320,
        "color": 7
      },
      "id": "e81d8d14-2c20-4f3c-b9cb-5736df059ee3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Sales Rep & Availability Processing\n### Retrieves the assigned sales rep’s details, detects the lead’s timezone, checks the rep’s current calendar events, and generates conflict-free meeting slots using working hours, duration, and buffer rules.",
        "height": 480,
        "width": 816,
        "color": 7
      },
      "id": "7bfd25e6-bd23-4c29-8bf9-f2959c1c57f4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Zoom Meeting Creation\n### Authenticates with Zoom to obtain an access token, then creates a scheduled Zoom meeting using the earliest available time slot and returns the join details.",
        "height": 560,
        "width": 576,
        "color": 7
      },
      "id": "b1390cf6-8bf4-4b35-9c1a-aaa99f2c919a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fallback Email Handling\n### Prepares a polite “no availability” message and sends it to the lead via Gmail when no suitable meeting slots are found, prompting them to share preferred times.",
        "height": 464,
        "width": 576,
        "color": 7
      },
      "id": "5927b816-bb07-49af-9899-358ad3374c16",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Email & CRM Logging\n### Generates a personalized HTML invite with meeting details and top time slots, sends it to the lead via Gmail, and logs the scheduled meeting inside Zoho CRM for tracking.",
        "height": 624,
        "width": 1056,
        "color": 7
      },
      "id": "3fd96aa7-8ff5-4c1b-9400-7aff31434a72",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        752
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate Personalized Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Invite": {
      "main": [
        [
          {
            "node": "Log Meeting in Zoho CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Lead Timezone": {
      "main": [
        [
          {
            "node": "Get Rep Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Slots Available": {
      "main": [
        [
          {
            "node": "Generate Meeting Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Slots Available Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meeting Link": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Rep Details": {
      "main": [
        [
          {
            "node": "Detect Lead Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho CRM Lead Webhook": {
      "main": [
        [
          {
            "node": "New Lead Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Sales Rep Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Personalized Invite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "No Slots Available Message": {
      "main": [
        [
          {
            "node": "Send No Availability Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Invite": {
      "main": [
        [
          {
            "node": "Send Meeting Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rep Calendar Availability": {
      "main": [
        [
          {
            "node": "Find Available Slots with Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Available Slots with Buffer": {
      "main": [
        [
          {
            "node": "Check Slots Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "428641e7-bbc3-4c92-b73b-c92994ec23b2",
  "meta": {
    "instanceId": "d271355e01c8e3cd5afd242cfef8893fb11bde3cc03e47625e621a776d30f204"
  },
  "nodeGroups": [],
  "id": "j9cC5TiOhHaXG4XW",
  "tags": []
}